.navigation-button {
    position: fixed;
    width: 60px;
    height: 60px;
    background: var(--clr-lighter);
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.back-button {
    left: 30px;
    bottom: 30px;
}

.forward-button {
    right: 30px;
    bottom: 30px;
}

.navigation-button:hover {
    transform: scale(1.2);
    font-size: 24px;
    background: linear-gradient(to right, var(--clr-indigo), var(--clr-blue));
    color: var(--clr-lighter);
}